<!doctype html>
<html ng-app="app">
<head>
<meta charset="utf-8">
<title>智能课堂 —— 微博ajax接口测试 - www.zhinengshe.com</title>
<link href="style/weibo.css" rel="stylesheet" type="text/css" />
<script src="angular-1.5.6.js"></script>
<script>
    var app=angular.module('app',[]);
    app.controller('show',function ($scope,$http) {
        $scope.nowPage=1;
        $scope.count=[];
        $scope.con='';
        $scope.data=[];
        //添加内容
        $scope.add=function () {
            if (!$scope.con){
                alert('内容不能为空');
                return;
            }
            $http({
                url:'/add',
                method:'get',
                params:{
                    content:$scope.con
                }
            }).then(function (res) {
                var json=res.data;
                console.log(res);
                $scope.data.unshift({id:json.id,content:$scope.con,time:json.time,acc:0,ref:0})
                $scope.con='';  //先渲染数据，再清空。
                $scope.getPage();
            },function (res) {

            });

        };
        //获取页数
        //get_page	获取页数
        //返回：{count:页数}
        $scope.getPage=function () {
            $http({
                url:'/get_page',
                method:'get'

            }).then(function (res) {
                //console.log(res.data);
                $scope.count.length=0;
                for(var i=0;i<res.data.count;i++){
                    $scope.count.push(i+1)
                }
            },function (res) {

            })
        };
        //get?page=1		获取一页数据
        //返回：[{id: ID, content: "内容", time: 时间戳, acc: 顶次数, ref: 踩次数}, {...}, ...]
        $scope.get=function (index) {
            $scope.nowPage=index;
            $http({
                url:'/get',
                method:'get',
                params:{
                    page:index
                }
            }).then(function (res) {
                $scope.data=res.data;
                if (!$scope.data.length){
                    if ($scope.nowPage!=1){
                        $scope.nowPage--;
                        $scope.getPage();
                        $scope.get($scope.nowPage)

                    }

                }
//                    console.log(res.data);
//                    $scope.data=[];
//                    for(var i=0;i<res.data.length;i++){
//                        $scope.data.unshift(res.data[i]);
//                    }
            },function (res) {})
        };
        // /acc?id=12
        $scope.acc=function (index) {
            $http({
                url:'/acc',
                method:'get',
                params:{
                    id:$scope.data[index].id
                }
            }).then(function (res) {
                console.log(res);
                $scope.data[index].acc+=1;
            },function (res) {
            })
        };
        $scope.ref=function (index) {
            $http({
                url:'/ref',
                method:'get',
                params:{
                    id:$scope.data[index].id
                }
            }).then(function (res) {
                $scope.data[index].ref+=1;
            },function (res) {

            })
        };
        $scope.del=function (index) {
            $http({
                url:'/del',
                method:'get',
                params:{
                    id:$scope.data[index].id
                }
            }).then(function (res) {

                $scope.get($scope.nowPage);
                $scope.getPage();
            },function (res) {

            })
        }
        
        $scope.getPage();
        $scope.get(1);

    })
</script>
</head>

<body ng-controller="show">
<div class="znsArea">
<!--留言-->
     <div class="takeComment">
        <textarea name="textarea" class="takeTextField" id="t1" ng-model="con"></textarea>
        <div class="takeSbmComment">
            <input type="button" class="inputs" value="" id="btn1" ng-click="add()"/>
            <span>(可按 Enter 回复)</span>
        </div>
    </div>
<!--已留-->
    <div class="commentOn">
        <div class="messList" id="msg_box">
            <div class="page" id="page_box">
                <a href="javascript:;" ng-repeat="v in count" ng-click="get(v)" ng-class="$index+1==nowPage?'active':''">{{v}}</a>
            </div>
        	<div class="reply" ng-repeat="v in data| limitTo:'6' " data-id="{{v.id}}">
                <p class="replyContent">{{v.content}}</p>
                <p class="operation">
                    <span class="replyTime">{{v.time*1000 | date:'yyyy-MM-dd hh:mm:ss'}}</span>
                    <span class="handle">
                    	<a href="javascript:;" class="top" ng-click="acc($index)">{{v.acc}}</a>
                        <a href="javascript:;" class="down_icon" ng-click="ref($index)">{{v.ref}}</a>
                        <a href="javascript:;" class="cut" ng-click="del($index)">删除</a>
                    </span>
                </p>
            </div>
        </div>

    </div>
</div>
</body>
</html>
